/*St.Croix Santa website*/
/*use percents for width and margins*/
body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}

.pageWrap{
  height: 100%;
  background-image: url("https://images.pexels.com/photos/702152/pexels-photo-702152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  overflow: hidden;
}

#nav {
  background-color: blue;
  width: 40%;
  height: 100%;
  margin: 0;
  position: relative;
}

#links{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#nav li{
  list-style-type: none;
  padding: 10px;
}

#nav a{
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  font-size: 30px;
}

.links:hover{
  cursor: pointer;
}

/*media-queries*/
/*computer*/
@media screen and (max-width: 980px){

}

/*tablet*/
@media screen and (max-width: 650px) {

}

/*mobile*/
@media screen and (max-width: 480px) {
    html {
        -webkit-text-size-adjust: none;
    }

}
