/*St.Croix Santa website*/
/*use percents for width and margins*/
body, html{
  height: 100%;
  width: auto;
  margin: 0;
  background-image: url("https://images.pexels.com/photos/702152/pexels-photo-702152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  overflow: hidden;
}

#nav {
  background-color: transparent;
  text-align: center;
  padding-top: 50%;
  padding: 0;
  margin: 0;
  float: left;
}

#nav li{
  list-style-type: none;
  padding: 10px;
}

#nav a{
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.links:hover{
  cursor: pointer;
}

/*media-queries*/
/*computer*/
@media screen and (max-width: 980px){

}

/*tablet*/
@media screen and (max-width: 650px) {

}

/*mobile*/
@media screen and (max-width: 480px) {
    html {
        -webkit-text-size-adjust: none;
    }

}
